{% extends 'base.html' %}

{% block content %}

    <h2 class="text-center"> {{user.username}} </h2>

    <div class="text-center">

        <small> Age: {{profile.age}} </small>
        <p> Bio: {{profile.bio}} </p>

    </div>


    {% if request.user.id != user.id and is_following %}
        <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-primary"> Unfollow </a>
    {% endif %}

    {% if request.user.id != user.id and not is_following %}
        <a href="{% url 'account:user_follow' user.id %}" class="btn btn-primary"> Follow </a>
    {% endif %}
   
    {% if request.user.id ==  user.id %}
        <a href="{% url 'home:post_create' %}" class="btn btn-info"> Create </a>
        <a href="{% url 'account:user_edit_profile' %}" class="btn btn-info"> Edit </a>
    {% endif %}

    

    {% for post in posts %}

    <p>
       
       <a href="{{ post.get_absolute_url }}"> {{post.title}} </a>

    </p><hr>

   {% endfor %}


{% endblock %}